@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic);
html,body{
    width:100%;
    height:100%
}


body{
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    line-height: 1.6;
    background:#e5e5e5;
}


h1,h2,h3,h4{
    font-weight: 300;
    margin:0;
}


/*aside*/

aside{
    width:230px;
    background:#252525;
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    padding:0;

    color:#eee;
}



aside img{
    padding:10px;
}


aside ul{
    list-style: none;
    padding: 0;
    margin: 0;

}

aside ul li{
    padding:10px;
}


aside ul li i{
    display:none;

}


aside ul li{
    margin:20px 0 40px 0;
}


aside ul li{
    border-radius: 10px 0 0 10px;
    position:relative;
    cursor: pointer;
}

aside ul li:before, aside ul li:after, aside ul li i{
    display:block;
    content: '';
    width:10px;

    position:absolute;
    right:0;
}


aside ul li i{
    top:-10px;
    bottom:-10px;
    height:auto;

}


aside ul li:before, aside ul li:after{
    height:10px;
    z-index:10;

}


aside ul li:before{
    top:-10px;
    border-radius: 0 0 10px 0;
}

aside ul li:after{
    bottom:-10px;
    border-radius: 0 10px 0 0;
}



/*li.hover*/


aside ul li:hover, aside ul li:hover i{
    background: #555;
}



aside ul li:hover:before, aside ul li:hover:after{
    background:#252525;
}




/*li.active*/


aside ul li.active, aside ul li.active i{
    background: #fc0;
    color:#333;
}


aside ul li.active:before, aside ul li.active:after{
    background:#252525;
}



/*calculate-sum*/


aside li.calculate-sum dt, aside li.calculate-sum dd{
    width:105px;
    font-weight: normal;
    display: inline-block;
    padding: 0;
    margin: 0;
}

aside li.calculate-sum dl{
    margin:0;
    font-size:0;
}

aside li.calculate-sum dl *{
    font-size:13px;
}

aside li.calculate-sum dd{
    text-align:right;

}





.content-container{
    background:#fff;
    margin-left:230px;
    width:710px;
    padding-left:20px;
    padding-right:20px;

    padding-bottom:3em;
    -webkit-box-shadow: 0 0 15px #b1b1b1;
    -moz-box-shadow: 0 0 15px #b1b1b1;
    box-shadow: 0 0 15px #b1b1b1;

}







.price-line{
    position: relative;
    margin-bottom:2em;
    text-align: right;
}


.price-line *{
    display: inline-block;
}


.price-line .price{
    background:#fc0;
    font-size:2em;
    font-weight: 300;
    padding:0 0.2em;
}



.radio-btn{
    font-size:1.3em;
    font-weight: 300;
    margin:0;
    padding:0 0.2em;
    display:inline-block;
    color:#000;
}

label.radio-btn input{
    display:none;

}


.radio-btn:hover{
    background: rgba(255, 200, 0, 0.25);
}

.radio-btn.active{
    background:#fc0;
    text-decoration: none;
}


/*title*/
div.title{
    position: relative;
    margin-bottom:1em;

}

div.title h2, div.title div{
    display:inline-block;
}
div.title .car-search-type{
    position: absolute;
    right:0;
    bottom:0;
}


/*grids*/
ul.row-fluid{
    margin-left:0;
}

.list{
    margin-bottom: 1em;
}

.list ul{
    margin: 0;
    list-style: none;
}

.list ul li{
    background:#EAE9DA;
    border:1px solid #BEB78F;
    padding:5px 0;
    text-align:center;
}


.list ul li:hover{
    background: rgba(255, 200, 0, 0.25);
}


h4{
    font-size:1.2em;

}


.row-fluid select{
    width:100%;
}


select{
    border:1px solid #BEB78F;
    border-radius: 0;
}




.btn-big{
    font-size:2em;
    padding:1em 1em;
    color:#000 !important;
    background:#fc0;
    display:block;
    margin:0 auto;
    width:33%;
    text-align: center;
    font-weight: 300;


}


.client-options {
    text-align: justify;
}

.client-options a {
    display: inline-block;
    position: relative;
    top: 1.2em;
}

.client-options:before{
    content: '';
    display: block;
    width: 100%;
    margin-bottom: -1.2em;
}

.client-options:after {
    content: '';
    display: inline-block;
    width: 100%;
}



.toggler{
    background:url("../img/toggler.png") no-repeat;
    width:7px;
    height:10px;
    display:block;
    position:absolute;
    top:2px;
    right:-10px;

}