body{
	color:#605525;
	
	padding-bottom:100px;
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

h4{
	margin-top:20px;
	color:#FFB600;
}


.prices{
	position:relative;
	width:300px;
}


.car-total{
	border-top:1px solid #ccc;
}


.component-price{


	text-align:right;
	left:150px;
	width:150px;
	position:absolute;

}



.credit-offers>div{
	padding-bottom:50px;
}





.credit-offer h3{
	font-size:15px;
	line-height:22px;

}

.credit-offer .monthly-payment{
	float:right;
	display:block;
	font-size:1.4em;
	color: #B28D0F;
	
}

.credit-offer .monthly-payment small{
	font-size:0.5em;
}


.credit-offer {
	position:relative;
}

.credit-offer .add-to-compare{
	position: absolute;
	/*width:95%;*/
	bottom:-40px;
	display:none;

}

.credit-offers>div:hover .add-to-compare{
	display:block;
}



.offers-comparison{
	/*width:100%;*/
}

.offers-comparison th{
	text-align:left;
	font-weight:normal;
	font-size:0.8em;
	
	
}

.offers-comparison tr.group th, .offers-comparison tr.group td{
	background:#eee;
	font-weight:bold;

}


.offers-comparison th, .offers-comparison td{
	width:293px;
	border-bottom:1px solid #ccc;
	padding:3px 5px;
}

.offers-comparison tr:last-child *{
	border-bottom:0;
}

.offers-comparison td{
	text-align:center;
}

.offers-comparison .offer-name td{
	font-size:1.2em;
	
}

.offers-comparison .delete-offer{
	display: inline-block;
	width:16px;
	height:16px;
	background: url(../img/remove.png) no-repeat 0 0;
	margin-left:7px;
	margin-top:4px;
}

.offers-comparison .delete-offer:hover{
	background-position:0 bottom;
}

.terms-container>div{
    border:1px solid #FFCA15;
	border-radius:5px;
	padding:10px 5px 5px;
	background:#FFF5C5;
}



/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
	-webkit-transform: rotateY(0deg);
}
/* flip the pane when hovered */
.flip-container.hover .terms-container {
	-webkit-transform: rotateY(180deg);
}

.flip-container, .terms-container, .main-terms, .extra-terms {
	height: 320px;
	width:260px;
}

/* flip speed goes here */
.terms-container {
	-webkit-transition: 0.3s;
	-webkit-transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.main-terms, .extra-terms {
	-webkit-backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.main-terms {
	z-index: 2;
}

/* back, initially hidden pane */
.extra-terms {
	-webkit-transform: rotateY(180deg);
}





a.rotate{
	display:block;
	width:30px;
	height:30px;
	background:url(../img/rotate.png) no-repeat 0 0;
	position:absolute;
	bottom:0;
	right:0;
}