@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic);


body{
	padding-bottom:100px;
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	
	font-family: 'Open Sans', sans-serif;
}

body, input, select, textarea{
	color: #605525;

}

h4{
	margin-top:20px;
	
	font-size:24px;
	line-height:40px;
	font-weight:300;
	
	margin:25px 0 5px 0;
}


.prices{
	position:relative;
	width:300px;
}


.car-total{
	border-top:1px solid #ccc;
}


.component-price{


	text-align:right;
	left:150px;
	width:150px;
	position:absolute;

}


.credit-offers{
	height:370px;
}

.credit-offers>div{
	padding-bottom:70px;
}





.credit-offer h3{
	clear:both;
	font-size:14px;
	line-height:22px;
	font-weight:600;
	text-align:left;
	
	margin:5px 0 5px 0;

}

.credit-offer h4{
	clear:both;
	font-size:14px;
	line-height:22px;
	font-weight:normal;
	text-align:left;
	
	margin:5px 0 5px 0;

}


.credit-offer .monthly-payment{
	float:right;
	display:block;
	font-size:16px;
	margin-bottom:10px;
	color: #B28D0F;
	font-weight:600;
	
}

.credit-offer .monthly-payment small{
	font-size:0.5em;
}


.credit-offer .options-list{
	overflow-y:auto;
	height:150px;
	margin-top:10px;
	padding-right: 5px;
	margin-right: -5px;
}

.credit-offer .options-list label{
	font-size:12px;
}



.credit-offer .options-list .option{
	position:relative;
}


.credit-offer .options-list .option, .credit-offer .options-list .checkbox{
	height:26px;
	line-height:26px;
}

.credit-offer .options-list .option .price{
	position:absolute;
	right:0;
	top:0;
	display:none;
}


.credit-offer .options-list .option.checked .price{
	display:block;
}

.credit-offer .options-list .option .price input, .credit-offer  .options-list table input{
	text-align:right;
	margin-right:-3px;
	padding:0 2px 2px 0;
	border:1px solid #abadb3;
}

.credit-offer .options-list .option .checkbox input{
	margin-top: 6px;
}

.credit-offer .options-list .option.disabled{
	color:#888;
}

.credit-offer .options-list .option.disabled label, .credit-offer .options-list .option.disabled .checkbox{
	cursor:default;
}


.credit-offer {
	position:relative;
}

.credit-offer .add-to-compare{
	position: absolute;
	bottom: -55px;
	display: none;
	width: 200px;
	margin-left: 30px;
	
	
	-webkit-box-shadow: 3px 4px 10px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    3px 4px 10px rgba(50, 50, 50, 0.5);
	box-shadow:         3px 4px 10px rgba(50, 50, 50, 0.5);
}

.credit-offers>div:hover .add-to-compare{
	display:block;
}



.offers-comparison{
	/*width:100%;*/
}


.offers-comparison th, .offers-comparison td{
	vertical-align:top;
}

.offers-comparison th{
	text-align:left;
	font-weight:normal;
	font-size:0.8em;
	
	
	
}

.offers-comparison tr.group th, .offers-comparison tr.group td{
	background:#eee;

}

.offers-comparison tr.group th{
	font-weight:bold;

}

.offers-comparison tr.group td{
	text-align:left;
}


.offers-comparison th, .offers-comparison td{
	width:293px;
	border-bottom:1px solid #ccc;
	padding:3px 5px;
}

.offers-comparison tr:last-child *{
	border-bottom:0;
}

.offers-comparison td{
	text-align:center;
}

.offers-comparison .offer-name td{
	font-size:1.2em;
	
}

.offers-comparison .delete-offer{
	display: inline-block;
	width:16px;
	height:16px;
	background: url(../img/remove.png) no-repeat 0 0;
	margin-left:7px;
	margin-top:-1px;
}

.offers-comparison .delete-offer:hover{
	background-position:0 bottom;
}

.terms-container>div{
	border-radius:3px;
}


.terms-container .extra-terms{
	background:#fffde8;
	border:1px solid #fffac3;
}

.terms-container .main-terms{
	background:#fffac3;
	border:1px solid #FFCA15;
}

/* entire container, keeps perspective */
.flip-container  {
	perspective: 1000;
}


.flip-container .extra-terms{
       -ms-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        transform: rotateY(180deg);

}

/* flip the pane when hovered */
.flip-container.hover .terms-container>div {
      -webkit-transform: rotateY(360deg);
      -ms-transform: rotateY(360deg);
      -moz-transform: rotateY(360deg);
      transform: rotateY(360deg);
}

.flip-container, .terms-container, .main-terms, .extra-terms {
	height: 370px;
	width:260px;
}

.terms-container{
	position:relative;
}

/* flip speed goes here */
.terms-container>div {
	-webkit-transition:all 0.3s linear;
    -ms-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
	transition:all 0.3s linear;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
}

/* hide back of pane during swap */
.main-terms, .extra-terms {
	position: absolute;
	top: 0;
	left: 0;
	
	
	-webkit-box-shadow: 6px 8px 20px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    6px 8px 20px rgba(50, 50, 50, 0.5);
    -ms-box-shadow:    6px 8px 20px rgba(50, 50, 50, 0.5);
    -o-box-shadow:    6px 8px 20px rgba(50, 50, 50, 0.5);
	box-shadow:         6px 8px 20px rgba(50, 50, 50, 0.5);
}

/* front pane, placed above back * /
.main-terms {
	z-index: 2;
}
*/


.flip-inner{
	padding:5px 10px 10px;
	line-height:160%;
}


.flip-inner table{
	width:100%;
}

.flip-inner table th{
	font-weight:normal;
	text-align:left;
	color:#888;
	font-size:12px;
}

.flip-inner table td{
	text-align:right;
}


.extra-terms table td, .extra-terms table input{
	font-size:12px;
}

.extra-terms .options-list{
	height: 240px;
}

.extra-terms .options-list table td{
	white-space:nowrap;
}


a.rotate{
	display:block;
	width:30px;
	height:30px;
	background:url(../img/rotate.png) no-repeat 0 0;
	position:absolute;
	bottom:0;
	right:0;
}

.control-group table input{
	margin:0;
}


.control-group table{
	width:100%;
	vertical-align:bottom;
}


.control-group td{
	vertical-align:bottom;
}


.control-group td.input{
	width:120px;
	white-space:nowrap;
	padding-left:10px;
	text-align:right;
}

.control-group td.input:last-child{
	width:60px;
}
