@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic);


body{
	color:#605525;
	
	padding-bottom:100px;
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	
	font-family: 'Open Sans', sans-serif;
}

h4{
	margin-top:20px;
}


.prices{
	position:relative;
	width:300px;
}


.car-total{
	border-top:1px solid #ccc;
}


.component-price{


	text-align:right;
	left:150px;
	width:150px;
	position:absolute;

}



.credit-offers>div{
	padding-bottom:50px;
}





.credit-offer h3{
clear:both;
	font-size:14px;
	line-height:22px;
	font-weight:600;
	text-align:center;

}

.credit-offer .monthly-payment{
	float:right;
	display:block;
	font-size:1.4em;
	color: #B28D0F;
	font-weight:600;
	
}

.credit-offer .monthly-payment small{
	font-size:0.5em;
}


.credit-offer {
	position:relative;
}

.credit-offer .add-to-compare{
	position: absolute;
	bottom: -55px;
	display: none;
	width: 200px;
	margin-left: 30px;
	
	
	-webkit-box-shadow: 3px 4px 10px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    3px 4px 10px rgba(50, 50, 50, 0.5);
	box-shadow:         3px 4px 10px rgba(50, 50, 50, 0.5);
}

.credit-offers>div:hover .add-to-compare{
	display:block;
}



.offers-comparison{
	/*width:100%;*/
}


.offers-comparison th, .offers-comparison td{
	vertical-align:top;
}

.offers-comparison th{
	text-align:left;
	font-weight:normal;
	font-size:0.8em;
	
	
	
}

.offers-comparison tr.group th, .offers-comparison tr.group td{
	background:#eee;

}

.offers-comparison tr.group th{
	font-weight:bold;

}

.offers-comparison tr.group td{
	text-align:left;
}


.offers-comparison th, .offers-comparison td{
	width:293px;
	border-bottom:1px solid #ccc;
	padding:3px 5px;
}

.offers-comparison tr:last-child *{
	border-bottom:0;
}

.offers-comparison td{
	text-align:center;
}

.offers-comparison .offer-name td{
	font-size:1.2em;
	
}

.offers-comparison .delete-offer{
	display: inline-block;
	width:16px;
	height:16px;
	background: url(../img/remove.png) no-repeat 0 0;
	margin-left:7px;
	margin-top:-1px;
}

.offers-comparison .delete-offer:hover{
	background-position:0 bottom;
}

.terms-container>div{
    border:1px solid #FFCA15;
	border-radius:5px;
	background:#FFF5C5;
}



/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
	-webkit-transform: rotateY(0deg);
}
/* flip the pane when hovered */
.flip-container.hover .terms-container {
	-webkit-transform: rotateY(180deg);
}

.flip-container, .terms-container, .main-terms, .extra-terms {
	height: 320px;
	width:260px;
}

/* flip speed goes here */
.terms-container {
	-webkit-transition: 0.3s;
	-webkit-transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.main-terms, .extra-terms {
	-webkit-backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
	
	
	-webkit-box-shadow: 6px 8px 20px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    6px 8px 20px rgba(50, 50, 50, 0.5);
	box-shadow:         6px 8px 20px rgba(50, 50, 50, 0.5);
}

/* front pane, placed above back */
.main-terms {
	z-index: 2;
}

/* back, initially hidden pane */
.extra-terms {
	-webkit-transform: rotateY(180deg);
}


.flip-inner{
	padding:10px;
}


.flip-inner table{
	width:100%;
}

.flip-inner table th{
	font-weight:normal;
	text-align:left;
	color:#888;
}

.flip-inner table td{
	text-align:right;
}


a.rotate{
	display:block;
	width:30px;
	height:30px;
	background:url(../img/rotate.png) no-repeat 0 0;
	position:absolute;
	bottom:0;
	right:0;
}

.control-group table input{
	margin:0;
}


.control-group table{
	width:100%;
	vertical-align:bottom;
}


.control-group td{
	vertical-align:bottom;
}


.control-group td.input{
	width:120px;
	white-space:nowrap;
	padding-left:10px;
}
