
	@page {size: landscape}
	
	
	body {
		 font-family: Verdana, sans-serif; /* Шрифт с засечками */
		 background:none;
		 line-height:140%
		 -webkit-print-color-adjust:exact;
		 font-size:8pt;
		 padding-top:20px !important;
	}
	
	h1, h2, p {
	 color: #f00; /* Черный цвет текста */
	}
	
	
	h4{
		font-size:20px;
	}
	
	
	
	.navbar,.choose-car, .credit-offers, .noprint{
		display:none;
	}

	
	
	
	table tr td,table tr th{
		border:1px solid #ccc;
		
		
		padding:5px 10px;
	}
	
	table {
	   border:0;
	   padding:0;
	   border-collapse:collapse;
	}
	
	table tr:first-child td,table tr:first-child th{
		border:0;
	}
	
	
	table tr th{
		text-align:left;
	}
	
	
	table tr td{
		text-align:left;
	}
	
	.offer-name td{
		font-weight:bold;
		text-align:center
	}
	
	.row-price td{
		text-align:right;
		white-space:nowrap;
	}
	
	.row-icon td{
		text-align:center;
	
	
	
	}
	
	table{
		width:100%;
	}
	
	.group th, .group td{
		padding-top:20px;
		border-left:0;
		border-right:0;
	}