<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" lang="ru" ng-app="seedApp" xmlns="http://www.w3.org/1999/html">
<head>
    <title>RCI Calculator</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">


    <link href="css/bootstrap-responsive.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">


    <link href="css/main.css" rel="stylesheet" media="screen">
    <link href="css/print.css" rel="stylesheet" media="print">


</head>

<body>
<div ng-controller="CalculatorCtrl" ng-cloak>
<p class="print">
    ООО «Авто-дилер»<br/>
    Москва, ул. Ленина, 31<br/>
    +7 495 212 85 06<br/>
    <br/>
    Ваш менеджер — Констанин Константинопольский<br/>
    +7 906 212 85 06<br/>

</p>


<aside class="menu" ng-controller="MenuCtrl">
    <nav>

        <ul>

            <li class="calculate-sum ng-class: {'active': show.isMaxPayment}"
                ng-click="toggleMaxPayment()">
                <span>Расчет платежноспособности</span>
                <dl>
                    <dt>max платеж</dt>
                    <dd>{{client.maxMonthPayment | currency }}</dd>
                    <dt>max кредит</dt>
                    <dd>{{client.maxCreditValue | currency }}</dd>
                </dl>
                <i></i>
            </li>


            <li ng-repeat="calculation in data.calculationList" class="offer">
                <div ng-click="restoreCalculation($index)">
                    <img src="img/car.jpg" height="50"/>
                    <strong>{{calculation.car.markName}} {{calculation.car.modelName}}</strong>
                    <span>{{ calculation.offer.monthPayment }} руб/мес.</span>
                </div>
                <a href="" class="icon-remove" ng-click="delCalculation($index)"></a>
                <!--<i></i>-->
            </li>

            <li class="link">
                <a href="" ng-click="saveCalculation()">+ Запомнить вариант</a>
            </li>

            <li class="link" ng-click="toggleCompare()">
                <a href="">Сравнение</a>
                <i></i>
            </li>
        </ul>
    </nav>
</aside>

<aside class="upgrade filter" ng-show="show.isMain" ng-controller="UpgradeCtrl">
    <h2>Улучшение</h2>

    <div class="input-months clearfix">
        <label>При сроке</label>

        <div class="input">
            <input type="input" ng-model="upgradeMonths"/>
            <label>мес.</label>
        </div>
        <div slider min="1" max="64" step="1" ng-model="upgradeMonths"></div>
    </div>


    <section class="upgrades">
        <section class="car-list list">

            <ul>
                <li ng-repeat="upgrade in carUpgrade.currentPage">
                    <div ng-click="upgrade(upgrade.id)">
                        <h4>{{ upgrade.modelName }}</h4>
                        <span>+3 500 руб</span>
                    </div>
                </li>
            </ul>
            <a href="" class="arrow-prev" ng-click="carUpgrade.left()" ng-show="carUpgrade.isLeft()"></a>
            <a href="" class="arrow-next" ng-click="carUpgrade.right()" ng-show="carUpgrade.isRight()"></a>
        </section>


        <h2>Сервисы</h2>
        <section class="addination-services service-list list">

            <ul>
                <li class="selected" ng-repeat="upgrade in serviceUpgrade.currentPage">
                    <span>Расширенная гарантия</span>

                    <div ng-click="show(upgrade.id)">
                        <h4>1 год → 2 года</h4>
                        <span>+ 32 000 руб</span>
                    </div>
                </li>

            </ul>
            <a href="" class="arrow-prev" ng-click="serviceUpgrade.left()" ng-show="serviceUpgrade.isLeft()"></a>
            <a href="" class="arrow-next" ng-click="serviceUpgrade.right()" ng-show="serviceUpgrade.isRight()"></a>
        </section>


    </section>


</aside>


<header>
    <img src="img/logo.png">
    <nav ng-show="show.isMain">
        <a href="">Печатать график платежей</a>
        <a href="javascript:window.print();return false;">Печатать предложение</a>
    <nav>

</header>

<div class="content-container">
<article ng-controller="MaxPaymentCtrl" ng-show="show.isMaxPayment" class="payment-calculation filter">
    <div>
        <label>Регион проживания</label>
        <select ng-model="regionId" ng-change="calculateMaxPayment()">
            <option value="1">Москва</option>
            <option value="2">Московская область</option>
            <option value="3">Все остальное</option>
        </select>
    </div>

    <div class="input-ip">
        <label>Основной доход</label>

        <div class="input">
            <input type="input" ng-model="monthIncome" ng-change="calculateMaxPayment()"/>
            <label>руб.</label>
        </div>
        <div slider min="20000" max="200000" step="2000" ng-model="monthIncome" ng-change="calculateMaxPayment()"></div>
    </div>


    <div class="input-ip">
        <label class="checkbox"><input type="checkbox" ng-model="additionalIncomeAssured"
                                       ng-change="calculateMaxPayment()"/>Подтвержден</label>
        <label>Дополнительный доход</label>

        <div class="input">
            <input type="input" ng-model="additionalIncome" ng-change="calculateMaxPayment()"/>
            <label>руб.</label>
        </div>
        <div slider min="0" max="500000" step="5000" ng-model="additionalIncome"
             ng-change="calculateMaxPayment()"></div>
    </div>

    <div class="input-ip">
        <label>Лимиты по кредитным картам</label>

        <div class="input">
            <input type="input" ng-model="creditCardLimit" ng-change="calculateMaxPayment()"/>
            <label>руб.</label>
        </div>
        <div slider min="0" max="500000" step="5000" ng-model="creditCardLimit" ng-change="calculateMaxPayment()"></div>
    </div>

    <div class="input-ip">
        <label>Выплаты по долгу (в мес.) </label>

        <div class="input">
            <input type="input" ng-model="monthPayment" ng-change="calculateMaxPayment()"/>
            <label>руб.</label>
        </div>
        <div slider min="0" max="500000" step="5000" ng-model="monthPayment" ng-change="calculateMaxPayment()"></div>
    </div>


    <a href="" ng-click="show.isMaxPayment=!show.isMaxPayment" class="btn">ОК</a>
</article>
<!--расчет платежноспобности-->


<article ng-controller="CarConfigurationCtrl" ng-show="show.isMain">
<section class="car-choose">
<div class="title car-title">
    <h2>Автомобиль</h2>

    <div class="car-type-choose">
        <a href="" class="radio-btn ng-class: {'active': !car.used}"
           ng-click="car.used=false;updateMark()">Новый</a>
        <a href="" class="radio-btn ng-class: {'active': car.used}" ng-click="car.used=true;updateMark()">С
            пробегом</a>
    </div>

    <div class="car-search-type">
        <a href="" class="radio-btn  ng-class: {'active': isCatalog}" ng-click="isCatalog=true">Каталог</a>
        <a href="" class="radio-btn  ng-class: {'active': !isCatalog}" ng-click="isCatalog=false">Поиск</a>
    </div>
</div>

<section class="car-catalog row-fluid" ng-show="isCatalog">
    <!--Марка-->
    <div class="span3">
        <select ng-model="car.markId"
                ng-options="mark.id as mark.name for mark in selMarkList"
                ng-change="updateModel()"
                >
        </select>
    </div>

    <!--Модель-->
    <div class="span3">
        <select ng-model="car.modelId"
                ng-options="model.id as model.name for model in selModelList"
                ng-change="updatePackaging()"
                >
        </select>
    </div>

    <!--Комплектация-->
    <div class="span3">
        <select ng-model="car.packagingId"
                ng-options="pack.id as pack.name for pack in selPackagingList"
                ng-change="updateYear()"
                >
        </select>
    </div>

    <!--Год-->
    <div class="span3">
        <select ng-model="car.yearId"
                ng-options="year.yearId as year.yearId for year in selYearList"
                >
        </select>
    </div>
</section>


<section class="car-search" ng-show="!isCatalog" ng-controller="CarSearchCtrl">
    <div class="row-fluid filter">
        <!--сумма-->
        <div class="span4  input-ip">
            <div class="input"><input type="input" ng-model="searchPrice"><label>руб.</label></div>
            <div slider ng-model="searchPrice" min="400000" max="4300000" step="100000"></div>
        </div>


        <!--Марка-->
        <div class="span2">
            <select
                    ng-model="car.markId"
                    ng-options="mark.id as mark.name for mark in selMarkList"
                    ng-change="updateModel()"
                    >
                <option value="">Любая</option>
            </select>
        </div>


        <!--Модель-->
        <div class="span4">
            <select ng-model="car.modelId"
                    ng-options="model.id as model.name for model in selModelList"
                    ng-change="updatePackaging()"
                    >
                <option value="">Любая</option>
            </select>
        </div>

        <!--Год-->
        <div class="span2">
            <select ng-model="car.yearId"
                    ng-options="year.yearId as year.yearId for year in selYearList"
                    >
                <option value="">Любой</option>
            </select>
        </div>
    </div>

    <section class="car-list list">
        <ul class="row-fluid">
            <li class="span4" ng-repeat="selCar in selCars">
                <div ng-click="selectCar($index)">
                    <h4>{{selCar.name}}</h4>
                    <span>{{selCar.cost}}</span>
                </div>
            </li>
        </ul>


        <a href="#" class="arrow-prev"></a>
        <a href="#" class="arrow-next"></a>
    </section>
</section>


<div class="print">
    <h2>{{data.calculation.car.markName}} {{data.calculation.car.modelName}} — {{data.calculation.car.price}} руб</h2>
</div>

<div class="car-info">

    <table>
        <tr>
            <td><span>Длина:</span></td>
            <td>4100 мм</td>
        </tr>


        <tr>
            <td><span>Ширина:</span></td>
            <td>1690 мм</td>
        </tr>


        <tr>
            <td><span>Высота:</span></td>
            <td>1550 мм</td>
        </tr>


        <tr>
            <td><span>Клиренс:</span></td>
            <td>145 мм</td>
        </tr>


        <tr>
            <td><span>Колёсная база:</span></td>
            <td>2630 мм</td>
        </tr>


        <tr>
            <td><span>Масса:</span></td>
            <td>1092 - 1177 кг</td>
        </tr>


        <tr>
            <td><span>Полная масса:</span></td>
            <td>1546 - 1580 кг</td>
        </tr>
    </table>

    <img src="img/car.jpg" width="327" height="188"/>


</div>

<div class="price-line noprint">
    <h3>{{data.calculation.car.markName}} {{data.calculation.car.modelName}}</h3>

    <div class="price">{{data.calculation.car.price}} руб</div>
    <a href="#discountModal" class="icon-info-sign" data-toggle="modal"></a>
</div>


<div id="discountModal" class="modal hide fade noprint" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Скидки</h3>
    </div>
    <div class="modal-body">
        <div class="input">
            <label>Рекомендованная цена</label>
            <span>{{ car.price | number:0 }}</span>
            <label>руб.</label>
        </div>

        <div class="input">
            <label>Скидка производителя</label>
            <span>{{ car.discount | number:0 }}</span>
            <label>руб.</label>
        </div>

        <div class="input">
            <label>Скидка дилера</label>
            <input type="input" ng-model="dealerDiscount"/>
            <label>руб.</label>
        </div>

        <div class="input">
            <label>Итого</label>
            <span>{{ (car.price - car.discount - dealerDiscount) | number:0 }}</span>
            <label>руб.</label>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true" ng-click="cancelDiscount()">Отменить</button>
        <button class="btn btn-primary" data-dismiss="modal" ng-click="applyDiscount()">Принять</button>
    </div>
</div>


</section>

</article>
<!--выбор машины-->
<div ng-controller="LoanProgramSelectionCtrl">

<article ng-show="show.isMain">
<section class="credit-choose">
    <h2>Кредит</h2>

    <section class="credit-filter filter row-fluid">
        <div class="span4 input-ip">
            <label>Первоначальный взнос</label>

            <div class="input"><input ng-model="initialPayment"><label> руб.</label></div>
            <div slider ng-model="initialPaymentPercent" max=100 min=0 step=1></div>

        </div>


        <div class="span4 input-ip">
            <label>Ежемесячный платеж</label>

            <div class="input"><input class="input-mini" ng-model="monthPaymentFilter"><label>руб.</label></div>
            <div slider ng-model="monthPaymentFilter" min="5000" max="200000" step="1000"></div>

        </div>

        <div class="span4 client-options">
            <a class="radio-btn  ng-class: {'active': clientRCI}" ng-click="clientRCI=!clientRCI">Клиент RCI</a>
            <a class="radio-btn  ng-class: {'active': existCRM}" ng-click="existCRM=!existCRM">Есть в CRM</a>
        </div>
    </section>

    <section class="credit-filter filter row-fluid">
        <div class="span4  input-ip">
            <label>Оценка текущей машины</label>

            <div class="input"><input ng-model="tradeIn" min="5000" max="200000" step="1000"><label>руб.</label></div>
            <div slider ng-model="tradeIn"></div>
        </div>


        <div class="span4 input-ip">
            <label>Рефинансирование</label>

            <div class="input"><input ng-model="refinance"><label>руб.</label></div>
            <div slider ng-model="refinance" min="5000" max="200000" step="1000"></div>
        </div>

        <div class="span4 input-ip">
            <label>Остаточный платеж</label>

            <div class="input"><input ng-model="lastPayment"><label>руб.</label></div>
            <div slider ng-model="lastPayment"  min="5000" max="200000" step="1000"></div>
        </div>
    </section>

    <section class="noprint" ng-show="!calculation.offer"><span>Не найдены программы подходящие под заданные условия</span></section>
    <section class="noprint" ng-show="calculation.offer"><span>Найдено программ кредитования: {{ currentOfferList.length }}</span></section>

    <section class="credit-offers row-fluid list" ng-show="currentOfferList">

        <div class="span3 ng-class: {selected: currentOfferListPage.currentIndex == $index}"
             ng-repeat="offer in currentOfferListPage.currentPage"
             ng-click="setCurrentOffer($index)">
            <h4 tooltip="{{ offer.name }}">{{ offer.name }}</h4>
            <span>
                {{ offer.monthPayment }} руб/мес<br />
                <strong>{{ offer.months }} мес.</strong>
            </span>
        </div>

        <a href="" class="arrow-prev" ng-click="currentOfferListPage.left()" ng-show="currentOfferListPage.isLeft()"></a>
        <a href="" class="arrow-next" ng-click="currentOfferListPage.right()" ng-show="currentOfferListPage.isRight()"></a>
    </section>


</section>
<div class="noprint" ng-controller="OfferCtrl" ng-show="calculation.offer">
    <section class="services-choose">
        <h2>Дополнительные сервисы</h2>

        <!--    <div class="show-month-price"><label class="checkbox"><input type="checkbox" checked>Показывать стоимость за
                месяц</label></div>-->


        <section class="service-list row-fluid">
            <div class="span6">
                <ul>
                    <li class="header">ОСАГО<span class="price">1 230 руб</span></li>
                    <li>
                        <label class="radio"><input type="radio" name="r1"/>Без ОСАГО
                            <span class="price">-1230 руб</span>
                        </label>
                    </li>
                    <li>
                        <label class="radio"><input type="radio" checked name="r1"/>ОСАГО простое
                            <span class="price"></span>
                        </label>
                    </li>
                </ul>
            </div>

            <div class="span6">
                <ul>
                    <li class="header">ОСАГО<span class="price">1 230 руб</span></li>
                    <li>
                        <label class="radio"><input type="radio" name="r2"/>Без ОСАГО
                            <span class="price">-1230 руб</span>
                        </label>
                    </li>
                    <li>
                        <label class="radio"><input type="radio" name="r2"/>Без ОСАГО
                            <span class="price">-1230 руб</span>
                        </label>
                    </li>
                    <li>
                        <label class="radio"><input type="radio" name="r2"/>Без ОСАГО
                            <span class="price">-1230 руб</span>
                        </label>
                    </li>
                    <li>
                        <label class="radio"><input type="radio" name="r2"/>Без ОСАГО
                            <span class="price">-1230 руб</span>
                        </label>
                    </li>
                    <li>
                        <label class="radio"><input type="radio" name="r2"/>Без ОСАГО
                            <span class="price">-1230 руб</span>
                        </label>
                    </li>
                    <li>
                        <label class="radio"><input type="radio" checked name="r2"/>ОСАГО простое
                            <span class="price"></span>
                        </label>
                    </li>
                </ul>
            </div>

            <div class="span6">
                <ul>
                    <li class="header">ОСАГО<span class="price">1 230 руб</span></li>
                    <li>
                        <label class="radio"><input type="radio" name="r3"/>Без ОСАГО
                            <span class="price">-1230 руб</span>
                        </label>
                    </li>
                    <li>
                        <label class="radio"><input type="radio" checked name="r3"/>ОСАГО простое
                            <span class="price"></span>
                        </label>
                    </li>
                </ul>
            </div>


        </section>


    </section>


    <div class="price-line noprint">
        <h3>Ежемесячный платеж: {{ calculation.offer.carMonthPayment }} + {{ calculation.offer.serviceMonthPayment }} = </h3>

        <div class="price">{{ calculation.offer.monthPayment }} руб/мес</div>
    </div>

    <section class="end-offer print">
        <h2>Стандартный</h2>

        <table>
            <tr class="header">
                <td>Сумма кредита</td>
                <td>400 000</td>
                <td>руб.</td>
            </tr>
            <tr class="header">
                <td>Срок кредита</td>
                <td>12</td>
                <td>мес</td>
            </tr>
            <tr class="header">
                <td>Процентная ставка</td>
                <td>9.00</td>
                <td>%</td>
            </tr>
            <tr class="header">
                <td>Стоимость автомобиля</td>
                <td>560 000</td>
                <td>руб</td>
            </tr>
            <tr>
                <td>—автомобиль</td>
                <td>560 000</td>
                <td>руб</td>
            </tr>
            <tr>
                <td>—аксессуары</td>
                <td>0</td>
                <td>руб</td>
            </tr>
            <tr class="header space-top">
                <td>Дополнительные&nbsp; сервисы</td>
                <td>197 640</td>
                <td>руб.</td>
            </tr>
            <tr>
                <td>—ОСАГО</td>
                <td>72 000</td>
                <td>руб.</td>
            </tr>
            <tr>
                <td>—Каско</td>
                <td>65 640</td>
                <td>руб.</td>
            </tr>
            <tr>
                <td>—Защита платежей на 1 год</td>
                <td>36 000</td>
                <td>руб.</td>
            </tr>
            <tr>
                <td>—Спутниковая сигнализация</td>
                <td>24 000</td>
                <td>руб.</td>
            </tr>
            <tr class="header space-top expanded">
                <td>Первоначальный платеж</td>
                <td>123 000</td>
                <td>руб.</td>
            </tr>
            <tr>
                <td>—наличными</td>
                <td>100 000</td>
                <td>руб.</td>
            </tr>
            <tr>
                <td>—трейд-ин</td>
                <td>20 000</td>
                <td>руб.</td>
            </tr>
            <tr>
                <td>—рефинансирование</td>
                <td>3 000</td>
                <td>руб.</td>
            </tr>


            <tr class="header space-top collapsed">
                <td>Ежемесячный платеж</td>
                <td>32 435</td>
                <td>руб.</td>
            </tr>
            <tr>
                <td>—платеж за автомобиль</td>
                <td>21 327</td>
                <td>руб.</td>
            </tr>
            <tr>
                <td>—платеж за дополнительные сервисы</td>
                <td>11 108</td>
                <td>руб.</td>
            </tr>
        </table>


        <a class="btn-big noprint" href="#">Оформить</a>
    </section>

</div>
</article>
<!--расчет кредита-->

<article class="noprint" ng-show="show.isCompare">
    <div class="row-fluid">
        <h4>Сравнение вариантов</h4>

        <table class='offers-comparison'>
            <tr class='offer-car'>
                <td>&nbsp;</td>
                <td ng-repeat="selectedOffer in selectedOfferList track by $index">{{selectedOffer.car.markName}} {{selectedOffer.car.modelName}}
                </td>
            </tr>
            <tr class='offer-name'>
                <td>&nbsp;</td>
                <td ng-repeat="selectedOffer in selectedOfferList track by $index">{{selectedOffer.name}}
                </td>
            </tr>
            <tr class='offer-sum row-price'>
                <th>Ежемесячный платеж</th>
                <td ng-repeat="selectedOffer in selectedOfferList track by $index">{{selectedOffer.monthPayment |
                    number:0}} руб./мес.
                </td>
            </tr>
            <tr class='offer-sum row-price'>
                <th>Сумма кредита</th>
                <td ng-repeat="selectedOffer in selectedOfferList track by $index">{{selectedOffer.creditValue |
                    number:0}} руб.
                </td>
            </tr>
            <tr class='offer-term row-price'>
                <th>Срок кредита</th>
                <td ng-repeat="selectedOffer in selectedOfferList track by $index" class='offer-term'>
                    {{selectedOffer.months}} мес
                </td>
            </tr>
            <tr class='offer-sum row-price'>
                <th>Ставка</th>
                <td ng-repeat="selectedOffer in selectedOfferList track by $index" class='offer-sum'>
                    {{selectedOffer.rate}} %
                </td>
            </tr>
            <tr class='offer-return row-price'>
                <th>Сумма к возврату</th>
                <td ng-repeat="selectedOffer in selectedOfferList track by $index" class='offer-sum'>
                    {{selectedOffer.returnValue |
                    number:0}} руб.
                </td>
            </tr>
            <tr class='offer-return row-price'>
                <th>Сумма переплаты</th>
                <td ng-repeat="selectedOffer in selectedOfferList track by $index" class='offer-sum'>
                    {{selectedOffer.overPayment |
                    number:0}} руб.
                </td>
            </tr>

            <tr class='offer-return row-price'>
                <th>Стоимость доп. сервисов</th>
                <td ng-repeat="selectedOffer in selectedOfferList track by $index" class='offer-sum'>
                    {{selectedOffer.serviceValue |
                    number:0}} руб.
                </td>
            </tr>


            <tr class='group'>
                <th>Требования к заемщику</th>
                <td ng-repeat="selectedOffer in selectedOfferList track by $index"></td>
            </tr>

            <tr class='row-icon'>
                <th>Гражданство РФ</th>
                <td ng-repeat="selectedOffer in selectedOfferList track by $index">
                    <img src="img/yes.png" tooltip="Требуется"/>
                </td>
            </tr>

            <tr class='row-icon'>
                <th>Домашний телефон</th>
                <td ng-repeat="selectedOffer in selectedOfferList track by $index">
                    <img src="img/no.png" tooltip="Не требуется"/>
                </td>
            </tr>

            <tr class='row-icon'>
                <th>Мобильный телефон</th>
                <td ng-repeat="selectedOffer in selectedOfferList track by $index">
                    <img src="img/yes.png" tooltip="Требуется"/>
                </td>
            </tr>


            <tr class='group'>
                <th>Список документов</th>
                <td ng-repeat="selectedOffer in selectedOfferList track by $index"></td>
            </tr>

            <tr class='row-icon'>
                <th>Паспорт РФ</th>
                <td ng-repeat="selectedOffer in selectedOfferList track by $index">
                    <img src="img/yes.png" tooltip="Требуется"/>
                </td>
            </tr>

            <tr class='row-icon'>
                <th>ПТС</th>
                <td ng-repeat="selectedOffer in selectedOfferList track by $index">
                    <img src="img/no.png" ng-show="!selectedOffer.car.used" tooltip="Не требуется"/>
                    <img src="img/yes.png" ng-show="selectedOffer.car.used" tooltip="Требуется"/>
                </td>
            </tr>

            <tr class="noprint">
                <th></th>
                <td ng-repeat="selectedOffer in selectedOfferList track by $index">
                    <button class='btn btn-large' ng-click="process($index)">Оформить</button>
                </td>
            </tr>

        </table>
    </div>


</article>
<!--сравнение-->
</div>
<!--LoanProgramCtrl-->


</div>
<!--container-->


</div>


<script type="text/javascript" src="js/jquery/jquery-1.10.1.min.js"></script>

<script type="text/javascript" src="js/jquery/jquery-ui.min.js"></script>

<script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>

<script type="text/javascript" src="js/angular/angular.min.js"></script>
<script type="text/javascript" src="js/angular/i18n/angular-locale_ru.js"></script>
<script type="text/javascript" src="js/angular/angular-resource.min.js"></script>
<script type="text/javascript" src="js/ui-utils/ui-utils.min.js"></script>
<script type="text/javascript" src="js/angular-ui/bootstrap/ui-bootstrap-tpls-0.4.0-SNAPSHOT.min.js"></script>

<script type="text/javascript" src="js/app/app.js"></script>

<script type="text/javascript" src="js/app/utils.js"></script>

<script type="text/javascript" src="js/app/controllers/CalculatorCtrl.js"></script>
<script type="text/javascript" src="js/app/controllers/CarConfigurationCtrl.js"></script>
<script type="text/javascript" src="js/app/controllers/CarSearchCtrl.js"></script>
<script type="text/javascript" src="js/app/controllers/LoanProgramSelectionCtrl.js"></script>
<script type="text/javascript" src="js/app/controllers/MaxPaymentCtrl.js"></script>
<script type="text/javascript" src="js/app/controllers/OfferCtrl.js"></script>
<script type="text/javascript" src="js/app/controllers/UpgradeCtrl.js"></script>
<script type="text/javascript" src="js/app/controllers/MenuCtrl.js"></script>

<script type="text/javascript" src="js/app/directives.js"></script>
<script type="text/javascript" src="js/app/services.js"></script>


<script>

    $(window).scroll(moveAsideMenu);
    $(window).resize(moveAsideMenu);


    function moveAsideMenu() {
        window_top_offset = $("body").scrollTop();
        window_height = $(window).height()
        side_height = $("aside.menu").height();

        if (side_height > window_height) {
            max_side_offset = side_height - window_height;
            console.log(window_top_offset, max_side_offset);
            $("aside.menu").css({
                top: -Math.min(window_top_offset, max_side_offset)
            });
        }
    }

</script>
</body>
</html>