<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" lang="ru" ng-app="seedApp" xmlns="http://www.w3.org/1999/html">
<head>
    <title>RCI Calculator</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

    <link href="css/main.css" rel="stylesheet" media="screen">
    <link href="css/print.css" rel="stylesheet" media="print">


    <link href="css/bootstrap-responsive.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
</head>

<body ng-controller="CalculatorCtrl">
<aside>
    <nav>
        <img src="img/logo.png">
        <ul>

            <li class="calculate-sum">
                <span>Расчет платежноспособности</span>
                <dl>
                    <dt>max платеж</dt>
                    <dd>{{maxMonthPayment | currency }}</dd>
                    <dt>max кредит</dt>
                    <dd>{{maxCreditValue | currency }}</dd>
                </dl>
                <i></i>
            </li>


            <li ng-repeat="calculation in calculationList" class="active">
                <div ng-click="selectCalculation($index)">{{calculation.car.markName}}
                    <br/>{{calculation.car.modelName}}
                    <br/>11111 руб/мес.
                </div>
                <a href="" ng-click="copyCalculation($index)">копировать</a>
                <a href="" ng-click="delCalculation($index)">удалить</a>
                <i></i>
            </li>

            <li>
                <a href="" ng-click="addCalculation()">создать вариант</a>
            </li>

            <li>
                <a href="">Сравнение</a>
                <i></i>
            </li>
        </ul>
    </nav>
</aside>

<div class="content-container">
<article></article>
<!--расчет платежноспобности-->


<article>
<section class="car-choose" ng-controller="CarConfigurationCtrl">
    <div class="title">
        <h2>Автомобиль</h2>

        <div class="car-type-choose">
            <a href="" class="radio-btn ng-class: {'active': !car.used}"
               ng-click="car.used=false;updateMark()">Новый</a>
            <a href="" class="radio-btn ng-class: {'active': car.used}" ng-click="car.used=true;updateMark()">С
                пробегом</a>
        </div>

        <div class="car-search-type">
            <a href="" class="radio-btn  ng-class: {'active': isCatalog}" ng-click="isCatalog=true">Каталог</a>
            <a href="" class="radio-btn  ng-class: {'active': !isCatalog}" ng-click="isCatalog=false">Поиск</a>
        </div>
    </div>

    <section class="car-catalog row-fluid" ng-show="isCatalog">
        <!--Марка-->
        <div class="span3">
            <select ng-model="car.markId"
                    ng-options="mark.id as mark.name for mark in selMarkList"
                    ng-change="updateModel()"
                    >
            </select>
        </div>

        <!--Модель-->
        <div class="span3">
            <select ng-model="car.modelId"
                    ng-options="model.id as model.name for model in selModelList"
                    ng-change="updatePackaging()"
                    >
            </select>
        </div>

        <!--Комплектация-->
        <div class="span3">
            <select ng-model="car.packagingId"
                    ng-options="pack.id as pack.name for pack in selPackagingList"
                    ng-change="updateYear()"
                    >
            </select>
        </div>

        <!--Год-->
        <div class="span3">
            <select ng-model="car.yearId"
                    ng-options="year.yearId as year.yearId for year in selYearList"
                    >
            </select>
        </div>
    </section>


    <section class="car-search" ng-show="!isCatalog" ng-controller="CarSearchCtrl">
        <div class="row-fluid">
            <!--сумма-->
            <div class="span3">
                <div slider ng-model="searchPrice" max="10000000" step="100000"></div>
                <input type="number" ng-model="searchPrice">
            </div>


            <!--Марка-->
            <div class="span3">
                <select
                        ng-model="car.markId"
                        ng-options="mark.id as mark.name for mark in selMarkList"
                        ng-change="updateModel()"
                        >
                    <option value="">Любая</option>
                </select>
            </div>


            <!--Модель-->
            <div class="span3">
                <select ng-model="car.modelId"
                        ng-options="model.id as model.name for model in selModelList"
                        ng-change="updatePackaging()"
                        >
                    <option value="">Любая</option>
                </select>
            </div>

            <!--Год-->
            <div class="span3">
                <select ng-model="car.yearId"
                        ng-options="year.yearId as year.yearId for year in selYearList"
                        >
                    <option value="">Любой</option>
                </select>
            </div>
        </div>

        <section class="car-list list">
            <ul class="row-fluid">
                <li class="span4" ng-repeat="selCar in selCars">
                    <div ng-click="selectCar($index)">
                        <h4>{{selCar.markName}} {{selCar.modelName}}</h4>
                        <span>{{selCar.price}}</span>
                    </div>
                </li>
            </ul>


            <a href="#">left</a>
            <a href="#">right</a>
        </section>
    </section>

    <div class="price-line">
        <h3>{{calculation.car.markName}} {{calculation.car.modelName}}</h3>

        <div class="price">{{calculation.car.price}} руб</div>
        <a class="toggler"></a>
    </div>


</section>


<section class="credit-choose">
    <h2>Кредит</h2>

    <section class="credit-filter row-fluid">
        <div class="span4">
            <label>Первоначальный взнос</label>

            <div slider></div>
            <input>
        </div>


        <div class="span4">
            <label>Срок</label>

            <div slider></div>
            <input>
        </div>

        <div class="span4">
            <a class="radio-btn  ng-class: {'active': clientRCI}" ng-click="clientRCI=!clientRCI">Клиент RCI</a>
            <a class="radio-btn  ng-class: {'active': existCRM}" ng-click="existCRM=!existCRM">Есть в CRM</a>
        </div>
    </section>

    <section class="credit-offers row-fluid">
        <div class="selected span4">
            <h4>Стандартный 6.5%</h4>
            <span>32 000 руб/мес</span>
        </div>

        <div class="span4">
            <h4>Стандартный 6.5%</h4>
            <span>32 000 руб/мес</span>
        </div>

        <div class="span4">
            <h4>Стандартный 6.5%</h4>
            <span>32 000 руб/мес</span>
        </div>

        <a href="#">left</a>
        <a href="#">right</a>
    </section>

    <section class="credit-options row-fluid">
        <div class="span4">
            <label>Рефинансирование</label>

            <div slider></div>
            <input>
        </div>


        <div class="span4">
            <label>Трейд-ин</label>

            <div slider></div>
            <input>
        </div>

        <div class="span4">
            <label>Остаточный платеж</label>

            <div slider></div>
            <input>
        </div>
    </section>


    <div class="price-line">
        <h3>Платеж за машину</h3>

        <div class="price">560 000 руб/мес</div>

    </div>

</section>

<section class="services-choose">
    <h2>Дополнительные сервисы</h2>


    <section class="main-services service-list list">
        <ul class="row-fluid">
            <li class="span4">
                <div>
                    <h4>ОСАГО</h4>
                    <span>+ 32 000 руб</span>
                    <a class="toggler"></a>
                </div>
            </li>

            <li class="span4">

                <div>
                    <h4>КАСКО</h4>
                    <span>+32 000 руб</span>
                    <a class="toggler"></a>
                </div>

            </li>
        </ul>
    </section>


    <section class="addination-services service-list list">
        <div class="row-fluid">
            <div class="selected span4"><span>Расширенная гарантия</span>
                <a class="toggler"></a>

                <div>
                    <ul>
                        <li>
                            <h4>1 год</h4>
                            <span>+ 32 000 руб</span>
                        </li>
                        <li>
                            <h4>2 года</h4>
                            <span>+ 32 000 руб</span>
                        </li>
                    </ul>
                    <a href="#">left</a>
                    <a href="#">right</a>
                </div>
            </div>

            <div class="span4"><span>Защита кредита</span>
                <a class="toggler"></a>

                <div>
                    <ul>
                        <li>
                            <h4>1 год</h4>
                            <span>+ 32 000 руб</span>
                        </li>
                        <li>
                            <h4>2 года</h4>
                            <span>+ 32 000 руб</span>
                        </li>
                    </ul>
                    <a href="#">left</a>
                    <a href="#">right</a>
                </div>
            </div>
        </div>
    </section>


    <div class="price-line">
        <h3>Итого за сервисы</h3>

        <div class="price">560 000 руб/мес</div>
    </div>

    <div class="price-line">
        <h3>Ежемесячный платеж: 1111+2222=</h3>

        <div class="price">3333 руб/мес</div>
    </div>


</section>


<section class="offer-complete">
    <h2>Предложение</h2>

</section>

<section class="upgrades">
    <h2>Улучшения</h2>


    <section class="car-list list">
        <ul class="row-fluid">
            <li class="span4">
                <div>
                    <h4>car1</h4>
                    <span>32 000 руб</span>
                </div>
            </li>

            <li class="span4">
                <div>
                    <h4>car1</h4>
                    <span>32 000 руб</span>
                </div>
            </li>

            <li class="span4">
                <div>
                    <h4>car1</h4>
                    <span>32 000 руб</span>
                </div>
            </li>
        </ul>
    </section>


    <section class="addination-services service-list list">
        <ul class="row-fluid">
            <li class="selected span4"><span>Расширенная гарантия</span>

                <div>
                    <h4>1 год → 2 года</h4>
                    <span>+ 32 000 руб</span>
                </div>
            </li>

            <li class="selected span4"><span>Расширенная гарантия</span>

                <div>
                    <h4>1 год → 2 года</h4>
                    <span>+ 32 000 руб</span>
                </div>
            </li>

            <li class="selected span4"><span>Расширенная гарантия</span>

                <div>
                    <h4>1 год → 2 года</h4>
                    <span>+ 32 000 руб</span>
                </div>
            </li>

        </ul>
    </section>

    <a class="btn-big" href="#">Оформить</a>


</section>
</article>

<article></article>
<!--сравнение-->

</div>


<script type="text/javascript" src="js/jquery/jquery-1.10.1.min.js"></script>

<script type="text/javascript" src="js/jquery/jquery-ui.min.js"></script>

<script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>

<script type="text/javascript" src="js/angular/angular.min.js"></script>
<script type="text/javascript" src="js/angular/i18n/angular-locale_ru.js"></script>
<script type="text/javascript" src="js/angular/angular-resource.min.js"></script>
<script type="text/javascript" src="js/ui-utils/ui-utils.min.js"></script>
<script type="text/javascript" src="js/angular-ui/bootstrap/ui-bootstrap-tpls-0.4.0-SNAPSHOT.min.js"></script>

<script type="text/javascript" src="js/app/app.js"></script>
<script type="text/javascript" src="js/app/controllers.js"></script>
<script type="text/javascript" src="js/app/directives.js"></script>
<script type="text/javascript" src="js/app/services.js"></script>

</body>
</html>