<!DOCTYPE html>
<html lang="ru" ng-app="seedApp" xmlns="http://www.w3.org/1999/html">
<head>
    <title>RCI Calculator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

    <link href="css/main.css" rel="stylesheet" media="screen">


    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <style>#slider {
        margin: 10px;
    }    </style>
    <!--link href="http://www.eyecon.ro/bootstrap-slider/css/slider.css" rel="stylesheet"-->

</head>

<body ng-controller="CalculatorCtrl">

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Кредитный калькулятор</a>

            <!--<div class="nav-collapse collapse">
              <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </div> -->
        </div>
    </div>
</div>

<div class="container">

    <form class="form-inline" ng-controller="CarConfigurationCtrl">

        <h4>Выбор автомобиля</h4>
		
		<span class="btn-group" data-toggle="buttons-radio">
			 <button type="button" class="btn active" value="want">Новая</button>
			 <button type="button" class="btn" value="need">С пробегом</button>
		</span>
				
				
        <select class="input-medium"
                ng-model="car.companyId"
                ng-options="carCompany as carCompany.name for carCompany in carCompanyList track by carCompany.id"
                ng-change="updateCompany()">
            <option value="">Марка</option>
        </select>

        <select class="input-medium" ng-model="car.modelId"
                ng-options="carModel as carModel.name for carModel in carModelList track by carModel.id"
                ng-change="updateModel()"
                >
            <option value="">Модель</option>
        </select>

        <select class="input-medium" ng-model="car.modifId"
                ng-options="carModif as carModif.name for carModif in carModifList track by carModif.id"
                ng-change="updateModif()"
                >
            <option value="">Модификация</option>
        </select>

        <select class="input-medium" ng-model="car.yearId"
                ng-options="carYear as carYear.name for carYear in carYearList track by carYear.id"
                ng-change="updateYear()"
                >
            <option value="">Год</option>
        </select>




    </form>
    <div ng-controller="LoanProgramSelectionCtrl">
        <h4>Подбор кредитных программ</h4>

        <div class="row-fluid">
            <div class="span4">

                <div class="control-group">
					<table>
						<tr>
							<td>
								<label>Стоимость машины</label>

								<div slider min="250000" max="3000000" step="10000" ng-model="car.price"></div>
							</td>
							
							<td class="input">

								<input maxlength="7" type="text" class="input-mini" ng-model="car.price">руб.
							</td>
						</tr>
					</table>

                </div>

            </div>


            <div class="span4">

                <div class="control-group">
                  
					<table>
						<tr>
							<td>
								<label>Первоначальный взнос</label>
								<div slider min="0" max="car.price" step="10000" ng-model="initialPayment"></div>
							</td>
							
							
							<td class="input">
								<span style="width:20px">{{initialPaymentPercent | number}}%</span>
								<input type="text" id="handsel-money-input" class="input-mini" ng-model="initialPayment">руб.
							</td>
						</tr>
					</table>
                </div>
            </div>

            <div class="span4">
                <div class="control-group">
					<table>
						<tr>
							<td>
				
								<label>Срок</label>

								<div slider min="3" max="60" step="3" ng-model="months"></div>
							</td>
							
							<td class="input">

								<input maxlength="2" type="text" ng-model="months" style="width:20px"> мес.
							</td>
						</tr>
					</table>

                </div>
            </div>

        </div>

        <h4>Варианты программ</h4>

        <div class="row-fluid credit-offers">

            <div class="span3" ng-repeat="offer in currentOfferList">
                <div class="credit-offer" ng-controller="FlipCtrl">
                    <div class="flip-container ng-class: {'hover': isFlip}">

                        <div class='terms-container'>
                            <div class='main-terms'>
								<div class="flip-inner">
									<h3>{{offer.name}}</h3>
								
									<span class="monthly-payment">{{offer.monthPayment | currency}}/мес</span>


									<!--<h3>Стоимость машины: {{offer.price  | currency}}</h3>
									<h3>Первоначальный платеж: {{offer.initialPayment  | currency}}</h3>-->
									
									
									<table>
										<tr>
											<th>Ставка</th>
											<td>{{offer.rate}} %</td>
										</tr>
										
										
										<tr>
											<th>К возврату</th>
											<td>{{offer.months*offer.monthPayment | currency }}</td>
										</tr>	
										
										<tr>
											<th>Переплата</th>
											<td>{{offer.overPayment | currency}}</td>
										</tr>
									</table>

									<div class='options-list'>
										<div class="option">
											<label class="checkbox"><input type="checkbox"/>Страхование</label>
										</div>
										
										<div class="option checked">
											<label class="checkbox"><input type="checkbox" checked />Страхование</label>
											<span class="price">+ 3 000 руб.</span>
										</div>
										
										<div class="option checked">
											<label class="checkbox"><input type="checkbox" checked />Страхование</label>
											<span class="price"><input class="input-mini" value="3 000"> руб.</span>
										</div>
										
										<div class="option checked disabled">
											<label class="checkbox"><input type="checkbox" checked disabled/>Страхование</label>
											<span class="price">+ 3 000 руб.</span>
										</div>

										<div class="option">
											<label class="checkbox"><input type="checkbox"/>Страхование</label>
										</div>
										
										<div class="option checked">
											<label class="checkbox"><input type="checkbox" checked />Страхование</label>
											<span class="price">+ 3 000 руб.</span>
										</div>
										
										<div class="option checked">
											<label class="checkbox"><input type="checkbox" checked />Страхование</label>
											<span class="price"><input class="input-mini" value="3 000"> руб.</span>
										</div>
										
										<div class="option checked disabled">
											<label class="checkbox"><input type="checkbox" checked disabled/>Страхование</label>
											<span class="price">+ 3 000 руб.</span>
										</div>

										
									</div>

									<a class='rotate' ng-click="flip()"></a>
								</div>
                            </div>
                            <div class="extra-terms">
								<div class="flip-inner">
									<h3>{{offer.name}}</h3>
								
									<span class="monthly-payment">{{offer.monthPayment | currency}}/мес</span>
								
								
									<h4>Дополнительная информация</h4>

									<table>
										<tr>
											<th>Переплата</th>
											<td>{{offer.overPayment | currency}}</td>
										</tr>
									</table>

									<a class='rotate' ng-click="flip()"></a>
								</div>
                            </div>
                        </div>
                    </div>

                    <button class='btn add-to-compare' ng-click="addToSelectedOfferList($index)">Добавить к сравнению
                    </button>
                </div>
            </div>


        </div>

        <div ng-show="1">
            <h4>Сравнение вариантов</h4>

            <table class='offers-comparison'>
                <tr class='offer-name'>
                    <td>&nbsp;</td>
                    <td ng-repeat="selectedOffer in selectedOfferList">Кредит А<a href="" class="delete-offer"
                                                                                  ng-click="removeFromSelectedOfferList($index)"></a>
                    </td>
                </tr>
                <tr class='offer-sum'>
                    <th>Сумма кредита</th>
                    <td ng-repeat="selectedOffer in selectedOfferList">800 000 руб.</td>
                </tr>
                <tr class='offer-term'>
                    <th>Срок кредита</th>
                    <td ng-repeat="selectedOffer in selectedOfferList" class='offer-sum'>{{offer.months | currency}} мес</td>
                </tr>
                <tr class='offer-return'>
                    <th>Сумма к возврату</th>
                    <td ng-repeat="selectedOffer in selectedOfferList" class='offer-sum'>{{offer.creditValue | currency}}</td>
                </tr>


                <tr class='group'>
                    <th>Требования к заемщику</th>
                    <td ng-repeat="selectedOffer in selectedOfferList"></td>
                </tr>

                <tr>
                    <th>Гражданство РФ</th>
                    <td ng-repeat="selectedOffer in selectedOfferList"><img src="img/yes.png"/></td>
                </tr>

                <tr>
                    <th>Домашний телефон</th>
                    <td ng-repeat="selectedOffer in selectedOfferList"><img src="img/no.png"/></td>
                </tr>

                <tr>
                    <th>Мобильный телефон</th>
                    <td ng-repeat="selectedOffer in selectedOfferList"><img src="img/no.png"/></td>
                </tr>


                <tr>
                    <th></th>
                    <td ng-repeat="selectedOffer in selectedOfferList">
                        <button class='btn'>Оформить</button>
                    </td>
                </tr>

            </table>
        </div>
    </div>


</div>
<!-- /container -->


<script src="http://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>


<!--script src="http://www.eyecon.ro/bootstrap-slider/js/bootstrap-slider.js"></script -->
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script type="text/javascript" src="js/angular/angular.js"></script>
<script type="text/javascript" src="js/angular/i18n/angular-locale_ru.js"></script>
<script type="text/javascript" src="js/angular/angular-resource.js"></script>
<script type="text/javascript" src="js/ui-utils/ui-utils.min.js"></script>

<script type="text/javascript" src="js/app/app.js"></script>
<script type="text/javascript" src="js/app/controllers.js"></script>
<script type="text/javascript" src="js/app/directives.js"></script>
<script type="text/javascript" src="js/app/services.js"></script>


</body>
</html>

	
